<div *ngIf="selectedSection() as section" class="p-4 border-l bg-white h-full">

  <h3 class="font-semibold mb-4">
    Editando sección: {{ section.type }}
  </h3>

  @switch (section.type) {

    @case ('hero') {
      <app-hero-editor
        [section]="section">
      </app-hero-editor>
    }

    @case ('features') {
      <app-features-editor
        [section]="section">
      </app-features-editor>
    }

    @case ('cta') {
      <app-cta-editor
        [section]="section">
      </app-cta-editor>
    }

  }

</div>
