<div class="space-y-4">

  <input
    type="text"
    class="input"
    placeholder="Título"
    [value]="section.data.title"
    (input)="update('title', $any($event.target).value)"
  />

  <input
    type="text"
    class="input"
    placeholder="Subtítulo"
    [value]="section.data.subtitle"
    (input)="update('subtitle', $any($event.target).value)"
  />

  <input
    type="text"
    class="input"
    placeholder="Texto del botón"
    [value]="section.data.buttonText"
    (input)="update('buttonText', $any($event.target).value)"
  />

  <input
    type="text"
    class="input"
    placeholder="WhatsApp"
    [value]="section.data.whatsappNumber"
    (input)="update('whatsappNumber', $any($event.target).value)"
  />

</div>
