<app-builder-navbar />
<div class="min-h-screen bg-white">

  @if (landings.activeLanding()) {

    @for (section of landings.activeLanding()!.sections; track section.id) {

      @switch (section.type) {

        @case ('hero') {
          <app-hero-section
            [title]="section.data.title"
            [subtitle]="section.data.subtitle"
            [buttonText]="section.data.buttonText"
            [whatsappNumber]="section.data.whatsappNumber"
            [imageUrl]="section.data.imageUrl"
          />
        }

        @case ('features') {
          <app-features-section
            [sectionTitle]="section.data.sectionTitle"
            [items]="section.data.items"
          />
        }

        @case ('cta') {
          <app-cta-section
            [title]="section.data.title"
            [subtitle]="section.data.subtitle"
            [buttonText]="section.data.buttonText"
            [whatsappNumber]="section.data.whatsappNumber"
          />
        }

      }

    }

  } @else {
    <p class="p-10 text-center text-gray-500">
      Landing no encontrada
    </p>
  }

</div>
